<ion-view view-title="Drone Virtuel">
  <ion-content>

    <div style="float: left;z-index: 9999;position: absolute;border-radius: 10px;background-color: white;">
      <div class="garden">
        <div class="ball"></div>
      </div>
      <pre class="output"></pre>
    </div>

    <div id="map_drone" style="width:100%;height: 120%;" data-tap-disabled="true"></div>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button ng-click="backHome()" class="button button-large button-balanced">AT HOME</button>
    </div>
    <div class="buttons pull-right" ng-show="!bloquerDrone" ng-click="urgence()">
      <button class="button  button-large button-assertive">URGENCE</button>
    </div>
    <div class="buttons pull-right" ng-show="bloquerDrone" ng-click="debloquer()">
      <button class="button button-large button-balanced">DEBLOQUER</button>
    </div>
  </ion-footer-bar>
</ion-view>
