<ion-view view-title="Tracé du trajet">
  <ion-content>
    <button style="float:right;margin-right:80px;margin-top:20px;z-index:9999" ng-click="test()" ng-show="afficherCarte" class="button button-positive">
      VALIDER CE PARCOURS
    </button>
    <div id="ScribbleMap" style="width: 100%; height: 100%" ng-click="test()" ng-show="afficherCarte"></div>
    <p>{{jsonToSend}}</p>
  </ion-content>
</ion-view>w>
