<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Suivi de position" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/trackview">
    <ion-nav-view name="tab-trackview"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Tracé de trajet" icon-off="ion-map" icon-on="ion-map" href="#/tab/tracer">
    <ion-nav-view name="tab-tracer"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Controle distant" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/dronevirtuel">
    <ion-nav-view name="tab-dronevirtuel"></ion-nav-view>
  </ion-tab>

</ion-tabs>
